
@{
    ViewBag.Title = "GLP";
    Layout = "~/Views/Shared/_LayoutGLPDashboard.cshtml";
}

<section class="content padding-bottom container-fluid">
    <!--Table-->    

    <!--End table-->
    <!--Charts-->

</section>
