/*
 * Skin: Blue
 * ----------
 */
.skin .main-header .navbar {
  background-color: #f9f9f9;
}
.skin .main-header .navbar .nav > li > a {
  color: #a1a1a1;
}
.skin .main-header .navbar .nav > li > a:hover,
.skin .main-header .navbar .nav > li > a:active,
.skin .main-header .navbar .nav > li > a:focus,
.skin .main-header .navbar .nav .open > a,
.skin .main-header .navbar .nav .open > a:hover,
.skin .main-header .navbar .nav .open > a:focus,
.skin .main-header .navbar .nav > .active > a {
  background: #bbbbbb;
  color: #fdfdfd;
}
.skin .main-header .navbar .sidebar-toggle {
  color: #a1a1a1;
  border-right: solid 1px #d5d5d5;
}
.skin .main-header .navbar .sidebar-toggle:hover {
  color: #3a8799;
}
@media (max-width: 767px) {
  .skin .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin .main-header .logo {
  background-color: #3a8799;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin .main-header .logo:hover {
  background-color: #3b8fa2;
}
.skin .content-header {
  background: transparent;
}
.skin .wrapper,
.skin .main-sidebar,
.skin .left-side {
  background-color: #293949;
}
.skin .sidebar-menu > li.header {
  color: #4b646f;
  background: #1e2c3a;
}
.skin .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin .sidebar-menu > li:hover > a,
.skin .sidebar-menu > li.active > a,
.skin .sidebar-menu > li.menu-open > a {
  color: #ffffff;
  background: #1e2c3a;
}
.skin .sidebar-menu > li.active > a {
  border-left-color: #3a8799;
}
.skin .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2f4153;
}
.skin .sidebar a {
  color: #b8c7ce;
}
.skin .sidebar a:hover {
  text-decoration: none;
}
.skin .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.skin .sidebar-menu .treeview-menu > li.active > a,
.skin .sidebar-menu .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
.skin .box-header {
  background-color: #f7c759;
}
.skin .box-body {
  background-color: #fff;
}